<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabasePath" value="Aether.db" />
    <add key="SecretKey" value="AETHER_SECRET_KEY_CHANGE_IN_PRODUCTION_2024" />
    <add key="VaultPath" value="Vault" />
    <add key="DefaultAdminPassword" value="Admin@123" />
  </appSettings>
</configuration>
